

.blogButton {
    text-decoration: none;
    position: relative;
    display: inline-block;
    width: calc(22vw + 24px);
    min-width: 385px;
    font-family: "Carbon Bold";
    padding: 8px 0 8px;
    border: none;
    margin-top: 0px;
    border-style: solid;
    border-width: 3px;
    text-align: center;
    border-color: rgb(var(--CC));
    background-color: rgb(9, 9, 15, 0);
    color: rgb(var(--CC));
    transition: all 0.44s cubic-bezier(0,.77,.37,1.18);
    overflow: hidden;
    border-radius: 4px;
    text-shadow: 0 0 12px rgba(var(--CC), 0.4);
}
.blogButton:hover {
    background-color: rgb(var(--CC));
    margin-top: -7px;
    box-shadow: 0 0 95px rgb(var(--CC), 0.52);
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.8);
    color: white;
}


.container, .image, .title, .info, .tag, .text {
    color: black;
}












.container {
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    width: 700px;
    height: 420px;
}
.SubBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.Tag, .Text, .blogImg {
    background: rgba(var(--CC), 1);
    align-self: center;
    justify-self: center;
}
.blogImg {
    background: none;

}
.blogButton::after {
    display: block;
    content: '';
    position: absolute;
    height: 75px;
    width: 169px;
    filter: blur(2px);
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 50%, transparent 55%);
    transform: skew(-45deg);
    top: -23px;
    left: -115px;
}
.blogButton:hover::after {
    animation: LightSweep 1.6s linear infinite;
}
.blogHeader {
display: flex;
position: absolute;
align-items: center;
justify-content: center;
    width: 55vw;
    z-index: 0;
    min-height: calc(22px*0.7);
    max-height: calc(35px*0.7);
    transform: translateY(80%);
    max-width: 500px;
    height: calc(.7vw + .7vh + 7px);
    clip-path: polygon(6% 0%, 100% 0%, 94% 100%, 0% 100%);
background: rgb(var(--C2));
transition: all 0.44s cubic-bezier(0,.77,.37,1.18);
}
.blogHeaderTop {
    width: 27.5vw;
    z-index: 1;
    display: flex;
position: relative;
align-items: center;
justify-content: center;
    margin-bottom: 15px;
    max-width: 250px;
    height: calc(2vw + 2vh + 20px);
    min-height: 40px;
    max-height: 55px;
    position: relative;
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
background: rgb(var(--CC));
transition: all 0.44s cubic-bezier(0,.77,.37,1.18);

}
.blogText {
    font-size: min(2.4em, 0.8em + 3cqi);
    vertical-align: center;
    text-align: center;
    color: white;
    -webkit-text-stroke: 4px rgba(0, 0, 0, 0.6);
    paint-order: stroke fill;
    text-shadow: 0 0 12px black;
    margin-left: 0px;
    position: absolute;
}
.recentWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    
    
}
.blogWrapper {
    width: clamp(400px, 50vw, 800px);
    min-width: 580px;
    height: 96px;
    margin: 0;
    margin-top: 20px;
    display: flex;
    border: solid rgb(var(--CC)) 2px;
    border-radius: 3px;
    background-color: rgba(var(--CC), 0.12);
    transition: all 0.44s cubic-bezier(0,.77,.37,1.18);
    overflow: hidden;
    position: relative;
}
.blogWrapper:hover {
    background-color: rgba(var(--CC), 1);
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 32px rgba(var(--CC), 0.5);
}
  .blogWrapper::after {
    display: block;
    content: '';
    position: absolute;
    height: 175px;
    width: 169px;
    filter: blur(2px);
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 50%, transparent 55%);
    transform: skew(-45deg);
    margin-top: -45px;
    margin-left: -180px;
  }
  @keyframes BigLightSweep {
    0% {
        left: -115px;
    }
    20% {
        left: calc(100% + 525px);
    }
    100% {
        left: calc(100% + 525px);
    }
}
    .blogWrapper:hover::after {
    animation: BigLightSweep 1.6s linear infinite;
}
.blogWrapper:hover .blogTitle{
    color: black;
}
.blogWrapper:hover .blogDate {
    color: black;
}
.blogImg {
    width: 128px;
    height: 96px;
    object-fit: cover;
    margin: 0;
    background-color: black;
    mix-blend-mode: overlay;

}
.blogBox {
    margin-left: 25px;
}
.blogArrow {
    width: 0; 
    height: 0; 
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent; 
    
    border-right: 20px solid white;
    position: absolute;
    margin-left: 108px;
    margin-top: 71px;
}
.BlogRight {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 26px;
}
.blogMeta {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
}
.blogCategory {
    text-align: left;
    color: black;
    font-size: 26px;
    background: rgb(var(--CC));
    vertical-align: bottom;
    clip-path: polygon(0 0, 94% 0, 100% 100%, 0% 100%);

}
.BlogBar { /* Note: fixed the capitalization to match HTML */
    width: clamp(400px, 50vw, 800px);
    height: 32px;
    margin-bottom: 54px;
    display: flex;
    align-items: center;
            transition: all 0.44s cubic-bezier(0,.77,.37,1.18);
    /* justify-content: center; Remove this to allow natural left-right alignment */
}

.BlogBar:hover{
        height: 86px;
        margin-bottom: 0;


}
.BlogBar:hover .ribbonButton {
    margin-bottom: 54px;
}
.BlogBar:hover .blogQuickRead {
    white-space: wrap;
    font-size: 17px;
    color: white;
    
}
.blogPlacement {
    display: flex;
    width: 100%;
    height: 60%;
    flex-wrap: wrap;
}

.ribbonCounter {
    margin-left: 10px;
    font-size: 21px;
}


.ribbonNum {
    background-image: linear-gradient(165deg, rgb(var(--CC)), rgb(var(--C2)));
    background-clip: text; 
    color: transparent;
    font-family: "B612";
    font-size: 21px;
    text-shadow: 0 0 8px rgb(var(--CC));

}

.ribbonButton {
    background-color: rgb(var(--CC), 0.15);
    width: 125px;
    max-height: 32px;
    z-index: 0;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    /* Add these to ensure proper alignment */
    display: flex;
    align-items: center;
    height: 100%;
    transition: background-color 0.44s cubic-bezier(0,.77,.37,1.18);
    transition: all 0.44s cubic-bezier(0,.77,.37,1.18);

}
.ribbonNum {
    transition: all 0.44s cubic-bezier(0,.77,.37,1.18);
}
.ribbonCounter {
        transition: all 0.44s cubic-bezier(0,.77,.37,1.18);
}
.ribbonButton:hover {
background-color: rgb(var(--CC));
width: 135px;
}

.ribbonButton:hover .ribbonNum {
    background: black;
    background-clip: text;
}
.ribbonButton:hover .ribbonCounter {
    color: black;
}
.blogWrapper:hover .blogImg {
     background-color: white;
}
.ribbonButton:active {
    background-color: color-mix(in srgb, rgb(var(--CC)), black 50%);
}
.ribbonButton:active .ribbonNum{
    color: white;
}
.ribbonButton:active .ribbonCounter {
    margin-top: 5px;
}
.ribboned {
    color: white;
    text-shadow: 0 0 12px white;
}
.ribboned .ribbonNum {
    color: white;
    text-shadow: 0 0 12px white;
}
.ribboned .blogButton {
    background-color: rgb(var(-CC));
}

.blogQuickRead {
    border-right: solid 2px rgb(var(--CC), 0.25);
    width: calc(clamp(400px, 50vw, 800px) - 125px);
    padding-left: 5px;
    display: flex;
    height: 77%;
    color: rgb(167, 167, 167);
    text-shadow: 0 0 6px rgb(var(--CC), 0.5);
    font-family: B612;
    font-size: 16px;
    vertical-align: center;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
        transition: all 0.44s cubic-bezier(0,.77,.37,1.18);

}
.blogDate {
    width: 100%;
    text-align: right;
    color: rgb(var(--CC));
    font-size: 20px;
    font-family: B612;

}
.blogTitle {
    width: 100%;
    height: 100%;
    padding-left: 6px;
    padding-top: 6px;
    color: rgb(var(--CC));
    font-size: clamp(1.4em, 2.35cqi, 1.8em);
    line-height: 0.8;
    text-overflow: ellipsis;
}
.blogBar {
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-between;
}
.cssisgay {
    font-size: 28px;
    position: absolute;
    transform: translateY(-8px);
}
.entryMetabutton {
    color: white;
    font-family: B612;
    font-size: 18px;
    transition: all 0.44s cubic-bezier(0,.77,.37,1.18);
}
.entryMetabutton:hover {
    color: rgb(var(--CC));
    text-shadow: 0 0 12px rgb(var(--CC));
    letter-spacing: 1.4px;
}
.entryTopWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.entryTitle {
    background-color: rgb(var(--CC));
    width: 100%;
    text-align: center;
    font-size: 48px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 26px rgba(var(--CC), 0.4);

}
.entryTitleMeta {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.entryDate {
    font-family: B612;
        color: black;
            margin-top: -1px;
    padding-top: 2px;
    background-color: rgba(var(--CC), 0.7);
            padding-left: 10px;
                    font-size: 24px;

        padding-right: 40px;
        clip-path: polygon(0% 0%, 0% 100%, 83% 100%, 100% 0%);

}
.entryCategory {
        font-family: B612;
        padding-left: 40px;
        padding-right: 10px;
        font-size: 24px;
    color: black;
    margin-top: -1px;
    padding-top: 2px;
    background-color: rgba(var(--CC), 0.7);
        clip-path: polygon(7% 0%, 100% 0%, 100% 100%, 0% 100%);

}
h1 {
    color: white;
    font-family: B612;
    font-size: 16px;
}
.strikethrough {
        font-family: B612;
    font-size: 16px;
    text-decoration: line-through;
}
.blogImageWrapper {
    width: 100%;
    justify-content: center;
    align-content: center;
    margin-bottom: 25px;
}
.blogImage {
    display: block;
    margin: 0 auto;
    width: 50%;
    border-radius: 4px;
    border-color: rgba(var(--CC), 0.4);
    box-shadow: 0 0 12px rgba(var(--CC), 0.4);
    border-style: solid;
}
.blogCaption {
    color: white;
    margin: 0;
    font-size: 14px;
    text-align: center;
    font-family: B612;
    display: inline-block;
    background-color: rgba(var(--CC), 0.2);
    padding-left: 30px;
    padding-right: 30px;
    justify-self: center;
    clip-path: polygon(0 0, 2% 100%, 98% 100%, 100% 0);
}
.captionWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 0 12px rgba(var(--CC), 0.9));
}
h2 {
    color: rgb(var(--CC));
    background-color: rgba(var(--CC), 0.2);
    display: inline-block;
    margin-left: 20px;
    padding: 6px 12px;
    font-size: 30px;
    -webkit-text-stroke: color-mix(in srgb, rgb(var(--CC)), black 60%) 5px;
    paint-order: stroke fill;
    padding-right: 36px;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);

}
h3 {
    font-family: Segoe UI;
    color: rgb(255, 255, 255, 0.6);
    font-size: 10px;
}
.readTime {
    font-family: B612;
    color: white;
    font-size: 14px;
    text-shadow: 0 0 15px rgb(var(--CC))
}