

.cssisgay {
    font-size: 28px;
    position: absolute;
    transform: translateY(-8px);
}
.entryMetabutton {
    color: white;
    font-family: B612;
    font-size: 18px;
    transition: all 0.44s cubic-bezier(0,.77,.37,1.18);
}
.entryMetabutton:hover {
    color: rgb(var(--CC));
    text-shadow: 0 0 12px rgb(var(--CC));
    letter-spacing: 1.4px;
}
.entryTopWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.entryTitle {
    background-color: rgb(var(--CC));
    width: 100%;
    text-align: center;
    font-size: 48px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 26px rgba(var(--CC), 0.4);

}
.entryTitleMeta {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.entryDate {
    font-family: B612;
        color: black;
            margin-top: -1px;
    padding-top: 2px;
    background-color: rgba(var(--CC), 0.7);
            padding-left: 10px;
                    font-size: 24px;

        padding-right: 40px;
        clip-path: polygon(0% 0%, 0% 100%, 83% 100%, 100% 0%);

}
.entryCategory {
        font-family: B612;
        padding-left: 40px;
        padding-right: 10px;
        font-size: 24px;
    color: black;
    margin-top: -1px;
    padding-top: 2px;
    background-color: rgba(var(--CC), 0.7);
        clip-path: polygon(7% 0%, 100% 0%, 100% 100%, 0% 100%);

}
h1 {
    color: white;
    font-family: B612;
    font-size: 16px;
}
.strikethrough {
        font-family: B612;
    font-size: 16px;
    text-decoration: line-through;
}
.blogImageWrapper {
    width: 100%;
    justify-content: center;
    align-content: center;
    margin-bottom: 25px;
}
.blogImage {
    display: block;
    margin: 0 auto;
    width: 49%;
    border-radius: 4px;
    border-color: rgba(var(--CC), 0.4);
    box-shadow: 0 0 12px rgba(var(--CC), 0.4);
    border-style: solid;
}
.blogCaption {
    color: white;
    margin: 0;
    font-size: 14px;
    text-align: center;
    font-family: B612;
    display: inline-block;
    background-color: rgba(var(--CC), 0.2);
    padding-left: 30px;
    padding-right: 30px;
    justify-self: center;
    clip-path: polygon(0 0, 2% 100%, 98% 100%, 100% 0);
}
.captionWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 0 12px rgba(var(--CC), 0.9));
}
h2 {
    color: rgb(var(--CC));
    background-color: rgba(var(--CC), 0.2);
    display: inline-block;
    margin-left: 20px;
    padding: 6px 12px;
    font-size: 30px;
    -webkit-text-stroke: color-mix(in srgb, rgb(var(--CC)), black 60%) 5px;
    paint-order: stroke fill;
    padding-right: 36px;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);

}
h3 {
    font-family: Segoe UI;
    color: rgb(255, 255, 255, 0.6);
    font-size: 10px;
}
.readTime {
    font-family: B612;
    color: white;
    font-size: 14px;
    text-shadow: 0 0 15px rgb(var(--CC))
}

.entryButton {
    height: 60px;
    max-height: 60px;
    width: 300px;
    margin-bottom: -1px;
        clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
}
.entryCounter {
    height: 100%;
    display: inline-flex;
    flex-direction: column-reverse;
    text-align: center;
    width: 300px;
    font-size: 18px;
}
.entryNum {
    font-size: 42px;
    margin-bottom: -5px;
    font-family: Carbon Bold
}
.entryButton:hover {
    width: 277px;
    height: 70px;
    max-height: 70px;
    margin-top: -10px;
}

.entryButton:hover .entryNum {
    font-size: 48px;

}
.theBLOG {
    font-size: 42px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.THETEXT, .ESTTEXT {
    font-size: 32px;
        transform: scaleY(95%) translate(-110px, -28px);
        color: rgb(var(--C2));
        font-family: B612;
        margin-bottom: -10px;
        z-index: 1;
        paint-order: stroke fill;
            position: absolute;

    }
.THETEXTBG, .ESTTEXTBG {
    height: 42px;
    width: 80px;
    position: absolute;
    background-color: rgba(var(--C2), 0.4);
    transform: translate(-110px, -29px);
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
}
.ESTTEXTBG {
        transform: translate(103px, 65px) rotate(180deg);
}
.ESTTEXT {
    font-size: 24px;
        transform: scaleY(95%) translate(103px, 75px);
}
.theBLOGtext, .theBLOGtextStroke, .theBLOGtextStroke2 {
    color: rgb(var(--CC));
    font-size: 76px;
    transform: scaleY(105%);
}
.theBLOGtext {
    font-size: 76px;
    text-shadow: 0 2px 12px color-mix(in srgb, rgb(var(--CC)) 40%, black);
}

.theBLOGtextStroke, .theBLOGtextStroke2 {
    color: transparent;
    position: absolute;
    -webkit-text-stroke: 12px rgb(var(--C2));
        text-shadow: 0 2px 12px color-mix(in srgb, rgb(var(--CC)) 40%, black);

}
.theBLOGtextStroke2 {
    -webkit-text-stroke: 12px rgb(var(--C2));
    }
.leftBG, .rightBG {
    position: absolute;
    background-image: linear-gradient(90deg, rgba(var(--CC), 0.8), rgba(var(--C2), 0.4));
    width: 100px;
    height: 52px;
}
.leftBG {
    transform: translate(-80px, 13px);
    clip-path: polygon(6% 0, 0 21%, 11% 34%, 0 61%, 8% 78%, 0 100%, 98% 100%, 97% 80%, 86% 75%, 98% 60%, 84% 44%, 96% 19%, 100% 0);

}
.rightBG {
        background-image: linear-gradient(270deg, rgba(var(--CC), 0.8), rgba(var(--C2), 0.4));
        transform: translate(150px, 13px);
        clip-path: polygon(6% 0, 0 21%, 11% 34%, 0 61%, 8% 78%, 0 100%, 98% 100%, 97% 80%, 86% 75%, 98% 60%, 84% 44%, 96% 19%, 100% 0);
}
.worldspin {
    transform: translate(-37px, -37px);
    width: 225px;
    height: 225px;
    mix-blend-mode: overlay;
}
.centerBG {
    width: 150px;
    height: 150px;
    transform: translate(10px, -36px);
    position: absolute;
    border-radius: 100%;
    background-color: rgb(var(--CC));
}
.blogNav {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
}
.navTab {
    font-weight: black;
    display: flex;
    flex-direction: row;
    
}
.recentTab {
    width: 49%;
    background-image: linear-gradient(180deg, rgba(var(--CC), 0.5), rgba(var(--CC), 0.3));
    padding-left: 1px;
    font-size: 24px;
    color: rgba(var(--CC), 0.8);
    -webkit-text-stroke: rgba(var(--CC), 0.6) 0.12px;
}
.searchTab {
    width: 60%;
    width: 49%;
    background-image: linear-gradient(180deg, rgba(var(--CC), 0.5), rgba(var(--CC), 0.3));
    padding-left: 1px;
    font-size: 24px;
    color: rgba(var(--CC), 0.8);
    -webkit-text-stroke: rgba(var(--CC), 0.6) 0.12px;
}
.secondTab {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    justify-content: center;
}
.recentWrapper {
    height: 800px;
    margin: 0;
    width: 49%;
        color: rgb(var(--CC));
        font-family: B612;
        border-right-style: solid;
        border-right-color: rgba(var(--CC), 0.5);
        border-right-width: 2px;
    background-image: linear-gradient(180deg, rgba(var(--CC), 0.15), rgba(var(--CC), 0.05));
}

.searchBar {
    justify-self: center;
    font-size: 28px;
    margin-top: 4px;
}
.searchWrapper {
        margin: 0;
    height: 800px;
    margin: 0;
    width: 49%;
        color: rgb(var(--CC));
        font-family: B612;
    background-image: linear-gradient(180deg, rgba(var(--CC), 0.15), rgba(var(--CC), 0.05));


}
.blogWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
.blogTerminal {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
}
.recentText {
    justify-self: center;
    font-size: 36px;
    margin-top: 4px;
}
.metaData {
    margin-top: 6px;
    font-family: "Pro Font Windows";
    text-align: center;
    margin-bottom: 10px;
}
.blogGrid, .blogHeader {
    display: grid;
        transition: all 0.44s cubic-bezier(0,.77,.37,1.18);
    width: 100%;
    height: 25px;
    vertical-align: center;
    line-height: 25px;
    grid-template-columns: 1.3fr 2.1fr 1fr 1fr;
}


.blogTags, .blogTitle, .aelement, .blogTimeAgo, .blogHeaderTimeAgo, .blogRibbonsText, .blogRibbons, .blogRibbonsHeader {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "Pro Font Windows";
    color: rgb(var(--CC));
}
.blogRibbonsText {
    margin-right: 6px;
}
.blogHeader {
    vertical-align: center;
    background-image: linear-gradient(180deg, rgba(var(--CC), 0.3), rgba(var(--CC), 0.04));
}
.blogRibbons, .blogRibbonsHeader {
    text-align: right;
}
.blogTags {
margin-left: 6px;

}

.colored {
    background-color: rgba(var(--CC), 0.2);
}

.ribbonButton {
    font-family: "Pro Font Windows";
    margin-right: 6px;
        border-right: rgb(var(--C2)) 0px;
    border-right-style: solid;
    background-color: transparent;
    transition: all 0.44s cubic-bezier(0,.77,.37,1.18);
    border-radius: 0;

}
.blogRibbons {
        font-family: "Pro Font Windows";
    color: rgb(var(--CC));
    border-radius: 0;
    border-right: rgb(var(--C2)) 0px;
    border-right-style: solid;
        transition: all 0.44s cubic-bezier(0,.77,.37,1.18);



}
.blogRibbons:hover {
    background-color: rgb(var(--CC));
    color: black;
    box-shadow: 0 0 20px rgb(var(--CC));
    border-right: rgb(var(--C2)) 5px;
    border-right-style: solid;
}

.ribboned {
    background-color: rgb(var(--CC));
    color: black;
    box-shadow: 0 0 20px rgb(var(--CC));
    border-right: rgb(var(--C2)) 5px;
    border-right-style: solid;
}

.blogRibbons:active {
    color: white;
    border-right: rgb(var(--C2)) 0px;
    box-shadow: 0 0 5px rgb(var(--CC));
    border-right-style: solid;

}
.aelement {
    color: rgb(var(--CC));
    font-family: "Pro Font Windows";
}
@media screen and (width > 1250px) {
    .blogGrid, .blogHeader {
    grid-template-columns: 1.2fr 2.3fr 0.8fr 0.8fr;
    }
}
@media screen and (width > 1450px) {
    .blogGrid, .blogHeader {
    grid-template-columns: 1.1fr 2.6fr 0.7fr 0.7fr;
    }
}
@media screen and (width > 1800px) {
    .blogGrid, .blogHeader {
    grid-template-columns: 1.02fr 3fr 0.6fr 0.55fr;
}
}