

@property --video {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
  }

  @property --photo {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
  }
  @property --htmlcss {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
  }
  :root {
    --endvideo: 0;
  }
@keyframes ColorScroll {
    0% {
    }
    25% {
    }
    50% {
    }
    75% {
    }
    to {

    }
    
}
.EverythingWrapper {
    margin-top: 12px;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
}
.portfolioWrapper {
    display: block;
    width: 100vw;
}
.center {
    display: flex;
    justify-content: center;
    width: 100%;
}
.portfolio, .experience, .motion {
    font-size: 64px;
    display: block;
    text-align: center;
    clip-path: polygon(9% 0%, 91% 0, 100% 50%, 91% 100%, 9% 100%, 0% 50%);
    height: 70px;
    width: 45vw;
    background-color: rgb(36, 230, 155);
    position: relative;
    box-shadow: 0 0 134px rgba(36, 230, 155, 0.35);

}
.motionContentWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.motionImg {
    height: 60%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;

}
.motionInfo {
    margin-top: 0px;
    margin-bottom: 0px;
}
.motionTitle {
    font-family: "B612";
    font-size: 1.1rem;
    margin-top: 10px;
    margin-bottom: -15px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    color: white;
    text-shadow: 0 0 12px rgba(36, 230, 155, 0.5);
    text-shadow: 0 0 6px rgba(36, 230, 155, 0.8);
}
.motionDate {
    font-size: 0.8rem;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    color: white;
    text-shadow: 0 0 12px rgba(36, 230, 155, 0.5);
    text-shadow: 0 0 6px rgba(36, 230, 155, 0.8);
}
.experience, .motion {
    margin-top: 5vh;
    width: 28vw;
    height: 49px;
    font-size: 42px;
    overflow: hidden;
}
.motionWrapper {
    margin-top: 4vh;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 32%;
    margin-left: 15px;
}
.motion {
    margin-top: 0;
    clip-path: none;
    transform: skew(-10deg);
    background: rgb(36,230,155);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.9s cubic-bezier(.05,.67,.37,.91);
    min-width: 290px;


}
.motionstuff {
    transform: skew(-10deg);
    background: rgb(36,230,155);
    width: 25px;
    margin-left: 12px;
    height: 49px;
    transition: all 0.9s cubic-bezier(.05,.67,.37,.91);
    box-shadow: 0 0 134px rgba(36, 230, 155, 0.35);

}
.motionWrapper:hover .motionstuff {
    margin-left: 30px;
}
.motionWrapper:hover .motion{
    box-shadow: 0 0 134px rgba(36, 230, 155, 0.55);
    transform: skew(-26deg);
    animation: rgb 5s infinite;
}
.motionWrapper:hover .motionstuff {
    box-shadow: 0 0 134px rgba(36, 230, 155, 0.55);
    transform: skew(-26deg);
    animation: rgb 5s infinite;
}

.motionTxt {
    font-size: 48px;
    text-align: center;
    vertical-align: center;
    width: 100%;
    height: 100%;
}
.motionShow {
    width: 100vw;
    background-color: rgb(0,0,0,0);
    box-shadow: 0 0 134px rgba(36, 230, 155, 0.15);
    height: 20vh;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(13, 25vw);
    min-height: 200px;
    min-width: 500px;
    grid-template-rows: 21vh;
    grid-column-gap: 12px;
}
.portfolio::before, .experience::before {
display: inline-block;  
content: '';
position: absolute;
height: 75px;
width: 169px;
filter: blur(2px);
background-image: -webkit-linear-gradient(left, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0.32) 50%, transparent 55%);
transform: skew(-45deg);
top: -10px;
left: -150px;
z-index: 3;
animation: LightSweepTheader 3.2s 1s linear infinite;
}
@keyframes LightSweepTheader {
0% {
    left: -150px;
}
9% {
    left: calc(100% + 50px);
}
100% {
    left: calc(100% + 50px);
}
}

.secCountTxt::after {
    content: counter(video);
  }
  @keyframes videoKey {
    from{ 
        --video: 0;
    }
    to{ 
        --video: var(--endvideo);
    }
  }
  .SecSquare {
    min-width: 180px;
    width: calc(6vw + 60px); 
}
.secCount {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0 0 134px rgba(36, 230, 155, 0.35);

}
.secCountTxt {
    font-family: "B612";
    font-size: 1.3rem;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    color: white;
    text-shadow: 0 0 12px rgba(36, 230, 155, 0.5);
    text-shadow: 0 0 6px rgba(36, 230, 155, 0.8);
    counter-set: video var(--video);
    animation: videoKey 7.6s forwards;
    animation-timing-function: cubic-bezier(0,0.98,0,0.98);
    animation-delay: 0.7s;
}
.secLabel {
    border-width: 3px;
    height: 38px;
    min-width: 70px;
    background-color: rgb(36, 230, 155); 
    margin: 0 0 0 0;
    box-shadow: 0 0 134px rgba(36, 230, 155, 0.35);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
